<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>找到一个好朋友</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<link rel="stylesheet" href="css/main.css">
</head>
<body id="myself-bg">
	<!--导航栏-->
	    <nav class="navbar navbar-inverse">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	                 <span class="icon-bar"></span>
	                 <span class="icon-bar"></span>
	                 <span class="icon-bar"></span>     			
	                </button>
	                <a class="navbar-brand" href="#">Make Friends</a>
	             </div>
	            <div class="collapse navbar-collapse" id="myNavbar">
	                <ul class="nav navbar-nav navbar-right">
					 <li><a href="myself.html">个人中心</a></li>	
	                 <li><a href="vip.html">会员</a></li>
	                 <li><a href="../sports.html">活动</a></li>
	         		 <li><a href="event.html">案例</a></li>
	         		 <li><a href="cheerup.html">爱情加油站</a></li>
	         		 <li><a href="lucky.html">有缘人</a></li>
	         		 <li><a href="register.html">注册</a></li>
	         		 <li><a href="index.html">登录</a></li>
	               </ul>
	            </div>
	        </div>
	    </nav>
        <div class="myself">
				<div class="myself-top"><b>个人信息详情</b></div>
				<form class="myself-form">
					<div class="form-group">
						<label for="name">姓&nbsp名：</label>
						<input type="text" />
					</div>
					<div class="form-group">
						<label for="name">年&nbsp龄：</label>
						<input type="text" />
					</div>
					<div class="form-group">
						<label for="name">地&nbsp区：</label>
						<input type="text" />
					</div>
					<div class="form-group">
						<label for="name">婚&nbsp;姻：</label>
						<input type="text" />
					</div>
					<div class="form-group">
						<label for="name">电&nbsp;话：</label>
						<input type="text" />
					</div>
					<div class="form-group">
						<label for="name">其&nbsp;他：</label>
						<textarea rows="6" cols="30" style="vertical-align:top"></textarea>
					</div>
				</form>
				<div class="myself-bottom">
					<button type="button" class="btn btn-danger">返&nbsp;回</button>
				</div>
		</div>
	<!--底部-->
	    <footer class="footer">
	        <p>版权所有  @郑欢</p>
	        <p>联系邮箱:1559519540@qq.com</p>
	    </footer>
	<!--引用JS文件-->
	    <!-- jquery.min -->
	    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	    <!--bootstrap.min-->
	    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <!--main.js-->
	    <script src="js/main.js"></script>
</body>
</html>